.announcement-bar {
  &__wrapper {
    background-color: var(--header_primary);
    color: var(--primary);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__content span {
    font-size: var(--font-up-1);
  }

  &__button {
    background-color: var(--quaternary);
  }

  &__close a {
    color: var(--primary);
  }
}

// Outlets
.announcement-bar__wrapper {
  &.above-main-container {
    margin-bottom: 1.5rem;
  }
}
